<div class="container">
  <header>
    <h1>{{ title }}</h1>
  </header>

  <nav class="mb-3">
    <a routerLink="/books" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="me-2">Dashboard</a>
    <a routerLink="/books/create" routerLinkActive="active" class="me-2">Erstellen</a>
    <a [routerLink]="'/books/search'" routerLinkActive="active" class="me-2">Suche</a>
  </nav>

  <main>
    <router-outlet></router-outlet>
  </main>
</div>


<!--
  Weiterleitung ✅
  Navigation / Links ✅
    - BC => Detailseite
    - Detailseite => Dashboard
  Detailseite
    - ISBN aus der URL aus
    - HTTP: Buch laden
    - Anzeige
  Fehlerseite ✅
-->
